<div id="<%= dom_id livro %>">
  <p>
    <strong>Titulo:</strong>
    <%= livro.titulo %>
  </p>

  <p>
    <strong>Autor:</strong>
    <%= livro.autor %>
  </p>

  <p>
    <strong>Ano:</strong>
    <%= livro.ano %>
  </p>

  <p>
    <strong>Editora:</strong>
    <%= livro.editora %>
  </p>

  <p>
    <strong>Edicao:</strong>
    <%= livro.edicao %>
  </p>

  <p>
    <strong>Livro eletronico:</strong>
    <%= livro.livro_eletronico %>
  </p>

</div>
